@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

.App {
  font-family: "Roboto Condensed", sans-serif;
  padding: 5%;
  text-align: left;
}

h2,
p,
ul {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 0.5rem;
}

p,
ul li {
  margin-bottom: 0.25rem;
}

ul {
  list-style-type: none;
}

.singleEvent {
  margin-bottom: 1rem;
}
