.filter {
  margin-bottom: 2rem;
}

.filter input,
.filter label {
  display: block;
  margin-bottom: 0.25rem;
}

.filter label::first-letter {
  text-transform: capitalize;
}

.filter input {
  padding: 5px 10px;
  font-family: "Roboto Condensed", sans-serif;
}
